

.center {
    text-align: center;
}

.child {
    margin: 0 auto;
}


.screenshot {
    width: 160px;
    height: 90px;
    margin: 10px;
}

.trackname {
    width: 160px;
    width: 10px;

}

div {
    border: 1px lime solid;
}

#screenshot-list {
    width: 1280px;
    border: 1px black solid;
}


button, input {

        font-size: 16px;

}